@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Montserrat&display=swap');
/*  font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif; */

:root{
    --main-color: #87ceeb;
    --auxiliar-color: #ffc0cb;
    --dark-color: #0c0909; 
    --color-resaltado: #6a5acd; 
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--auxiliar-color);
    color: #000;
}

h1{
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 18px;
    text-align: center;
}

/*********      HEADER      ***********/
.header-type{
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    padding: 5px 3%;
    font-family: monospace, bold;
    font-size: 20px;
    width: 100vw;
    z-index: 2;
    border-bottom: 1px solid #000;
}


.header-type .logotipo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
    border-radius: 10%;}

.header-type .logotipo img:hover{
    transform: scale(1.15);    
}
.header-type .logotipo{
    margin-right: auto;
    z-index: 2;
}

.header-type .nav-links{
    list-style: none;
}

.header-type .nav-links li{
    display: inline-block;
    padding: 0 12px;
    margin-right: 10px;
    font-weight: bold; 
}
.header-type .nav-links li:hover >a{
    color: var(--color-resaltado);
    cursor: pointer;
}

.header-type .nav-links li:hover{
    color: var(--color-resaltado);
    transform: scale(1.15); 
}

.header-type .nav-links a{
    color: #000; 
    text-decoration: none;
}

.header-type .nav-links li i{
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;}

.dropdown-color{
    background-color: var(--color-resaltado);
}

.dropdown-color:hover{
    background-color: var(--auxiliar-color);
}

    @media (min-width: 1200px) {
        .dropdown{
            visibility: hidden;
            display: none;
        }
    }

    @media (max-width: 1199px) {
        .nav{
            visibility: hidden;
            display: none;
        }
    }
/*****************************INDEX*****************************/
#projectMain{
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #0c0909;
    height: 100vh;
}
#mainIndex{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    background-image: linear-gradient( rgba(0,0,0,0.7), rgba(255,255,255,0.6)), url(../media/img/imagen1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
 }

#mainIndex h1,h2{
    font-size: 40px;
    color: #fff;
    opacity: 1;
}

#mainIndex h1{
    padding-top: 60px;
}

#mainIndex h2{
    margin-top: 60px;
}

.contactoBox{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 80px 25px ;
}

.contactFormIndex{
    max-width:50% ;
    border-radius: 15px;
    background-image: url(../media/img/img7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;   
}

.contactUbicacion{
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 50px;
    background-image: url(../media/img/img2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contactUbicacion h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

/*FORMULARIO*/

#contactoIndex{
    width: 100%;
    min-height: 60vh;
    padding: 50px; 
}

#contactoIndex h2{
    text-align: center;
    font-size: 30px;
}

#contactoIndex input{
    width: 80%;
    font-size: 18px;
    margin: 10px 10%;
}

#contactoIndex input:first-of-type{
    margin-top: 20px;
} 

#contactoIndex textarea {
    width: 80%;
    font-size: 18px;
    margin: 5px 10%;
}



/*******************************RADIO CATWEBS***************************************/
    
    
.titulos{
    padding: 120px 20px 50px;
    height: auto;
    width: 100%;
    background-color: #07060a;
    color: #fff;
}

#banner-radio{
    background-color: var(--dark-color);
}

.banner-container{
    padding: 30px;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    background-color: var(--auxiliar-color);
}

.carousel-item img{
    object-fit: cover;
    border-radius: 20px;
    object-position:inherit;
    max-height: 420px;
}

/*CONTENEDOR DE GRID*/

.grid-contenedor{
    display: grid;
    padding: 70px 50px;
    background-color: #07060a;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 300px);
    grid-gap: 20px;
    grid-template-areas: 
        "stream news news news"
        "news2 news2 news2 news2"
        "form form form form"
        "form form form form"
        "form form form form"
        "owner owner logo logo"
    ;
}

.item-1{
    grid-area: stream;
}

.streamBox{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    width: 100%;
    height: 100%;
    background-image: url(../media/img/stream.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.streamBox audio{
    width: 100%;
    position: relative;
    left: 0;
    top: 80%;
}

.news{
    grid-area: news;
}

.card-body{
    background-color: var(--auxiliar-color);
    padding-top: 30px; 
}
.card-footer{
    background-color: var(--auxiliar-color); 
}
.card-header{
    font-size: 22px;
}

.card{
    border-bottom: none;
    border-radius: 20px;
    height: 100%;
}

.btn{
    background-color: var(--main-color);
    color: #000;
}

.btn:hover{
    background-color: var(--color-resaltado);
}

.news-2{
    grid-area: news2;
    background-color: var(--auxiliar-color);
    border-radius: 20px;
}
.news-2 .card-img{
    max-height: 300px;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.3;
}

.contactoFormRadio{
    grid-area: form;
    background: rgb(211, 234, 241);
    border-radius: 25px;
}
   
#contactoFormRadio{
    width: 80%;
    padding: 70px;
    height: 100%;
    display: grid; 
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    margin: auto;
}

.contactoFormRadio input, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  .contactoFormRadio label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

#contactoFormRadio h2{
    text-align: center;
    font-size: 30px;
    color: #000;
}


#contactoFormRadio #botonEnviarRadio{
    background-color: var(--main-color);
    font-size: 18px;
    padding: 10px;
}   


#contactoFormRadio #botonEnviarRadio:hover{
    transform: scale(1.005);
    color: #fff;
}


.ownerInfo{
    grid-area: owner;
    
}
    .contactoDatosContainerRadio{
        display: grid; 
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        margin: auto;
        height: 100%;
        margin: auto;
        padding: 40px 0px; 
        color: #fff; 
        text-align: center;
    }

    .contactoDatosContainerRadio h3{
        padding: 20px;
        font-size: 30px;
    }

    .contactoDatosContainerRadio h4{
        padding-bottom: 15px;
        font-size: 22px;
    }
    
    .contactoDatosRadio ul li{
        padding: 4px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .fa-regular, .fa-solid{
        margin-right: 20px;
    }

    .contactoDatosRadio ul li a{
            text-decoration: none;
            color: #fff;
        }

    .contactoDatosRadio ul li a:hover{
            font-weight: bold;
            color: var(--color-resaltado);   
        }

        .contactoDatosRadio .web{
           padding-left: 10px;
        }

.logoInfo{
    grid-area: logo;
    align-items: center;
    background-image: url(../media/logo.jfif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/*****************************FIN RADIO CATWEBS*************************************/


/**********************************PROYECTOS****************************************/

#projects{
    background-color: #0c0909;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 50px;
}

.containerProjects {
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center; 
	max-width: 1400px;
	margin: 0 auto; 
	padding: 20px 10px;
}

.proyectos{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover; 
    gap: 16px; 
    border-radius: 10px;
    margin: 1%;
}

.capa-1{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capa-1 figure{
    position: relative;
    overflow:hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.capa-1 figure img{
    height: 100%;
    width: 100%;
    transition: all 500ms ease-out;
}

.capa-2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;

}

.capa-1 p{
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 20px;
    position: absolute;
}

.capa-1 figure:hover > .capa-2{
    opacity: 1;
    visibility: visible;
    
}

/*PROYECTO 1*/

.proyecto-1 .capa-1 figure p{
    top: 140px;
    left: 55px;
} 

/*PROYECTO 2*/

.proyecto-2 .capa-1 figure p{
    top: 140px;
    left: 55px;
} 

/*PROYECTO 3*/

.proyecto-3 .capa-1 figure p{
    top: 140px;
    left: 55px;
} 

/*PROYECTO 4*/

.proyecto-4 .capa-1 figure p{
    top: 140px;
    left: 55px;
} 

/*PROYECTO 5*/

.proyecto-5 .capa-1 figure p{
    top: 140px;
    left: 55px;
} 

/*PROYECTO 6*/

.proyecto-6 .capa-1 figure p{
    top: 140px;
    left: 55px;
} 


/*****************************FIN PROYECTOS*************************************/

/****************************SOBRE CATWEBS*************************************/

#mainAbout{
    background-color: #0c0909;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

#mainAbout h1{
    color: #fff;
}

#mainAbout h2{
    color: #fff;
    margin-top: 15px;
    font-size: 25px;
}
.aboutContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 30px auto;
    flex-wrap: wrap;
}

#aboutInfo-1{
    background-color: #fff;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #000;
    text-align: justify;
    display: flex;
    margin-bottom: 10px;
}

#aboutInfo-2{
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    text-align: justify;
    display: flex; 
    margin-bottom: 10px;
}

#aboutInfo-3{
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    text-align: justify;
    display: flex;
    margin-bottom: 10px;
}

#aboutInfo-4{
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    text-align: justify;
    display: flex;;
}



.aboutImg1{
    background-image: url(../media/img/website-3374825_1280.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutImg2{
    background-image: url(../media/img/img3.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutImg3{
    background-image: url(../media/img/img4.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutImg4{
    background-image: url(../media/img/img5.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.imgAbout{
    height: 350px;
    min-width: 40%;
    max-width: 50%;
    border-radius: 15px;
    border:1px solid white;
}

.imgText{
    height: auto;
    width: auto;
    border-radius: 15px;
    border:1px solid white;
    text-align: justify;
    padding: 40px;
}
.imgText h3{
    margin-bottom: 20px;
    font-size: 28px;
}

.imgText p{
    font-size: 20px;
    color: var(--color-resaltado);
}

.imgText span{
    color: pink;
    font-weight: 800;
}
.imgText a{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
}



/********************************FIN SOBRE CATWEBS*******************************/


/****************************SERVICIOS*************************************/

#mainServices{
    background-color: #fff;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

#mainServices h1{
    color: #0c0909;
}

#mainServices h2{
    color: #0c0909;
    margin-top: 15px;
    font-size: 25px;
}
.serviciosContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 30px auto;
    flex-wrap: wrap;
}
.servicios{
    background-color: #fff;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #000;
    text-align: justify;
    display: flex;
    margin-bottom: 10px;
}


.servicesImg1{
    background-image: url(../media/img/gato1.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.servicesImg2{
    background-image: url(../media/img/gato2.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.servicesImg3{
    background-image: url(../media/img/gato3.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.servicesImg4{
    background-image: url(../media/img/gato4.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.imgServices{
    height: 350px;
    min-width: 40%;
    max-width: 50%;
    border-radius: 15px;
    border:1px solid white;
}

.textServices{
    height: auto;
    width: auto;
    border-radius: 15px;
    border:1px solid white;
    text-align: justify;
    padding: 40px;
    
}
.textServices h3{
    margin: 0 0 20px;
    font-size: 28px;
}

.textServices p{
    font-size: 24px;
    color: var(--color-resaltado);
    font-family: 'Barlow', sans-serif;
}

.textServices span{
    color: #f15fc6;
    font-weight: 800;
}
.textServices a{
    text-decoration: none;
}

#gallery{
    width: 100%;
    background-color: #0c0909;
    min-height: 500px;
    display: inline-block;
    padding: 20px;
}

#gallery h3{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.galleryContainer{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}
.galleryObj{
     height: 400px;
     width: 300px;
     background-color: white; 
     color:#0c0909;
     margin: 10px;
     border-top-left-radius: 15px;
     border-bottom-right-radius: 15px;
}

.gallery1{
    background-image: url(../media/img/cat-5157628_960_720.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery2{
    background-image: url(../media/img/cat-5157628_960_720.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery3{
    background-image: url(../media/img/cat-5157628_960_720.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery4{
    background-image: url(../media/img/cat-5157628_960_720.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery5{
    background-image: url(../media/img/cat-5157628_960_720.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery6{
    background-image: url(../media/img/cat-5157628_960_720.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

/****************************FIN SERVICIOS*******************************/











/*FORMULARIO DE CONTACTO ----> INICIO*/
#contactoSeccion{
    width: 100%;
    height: auto;
}

#contactoForm{
    width: 100%;
    background: rgb(211, 234, 241);
    padding: 100px;
    border-top: 0.5px solid #fff;
    display: grid;
}

#contactoForm h2{
    text-align: center;
    font-size: 30px;
    color: #000;
}

#contactoForm input{
    width: 50%;
    font-size: 18px;
    margin: 0 25%;
}

#contactoForm input:first-of-type{
    margin-top: 20px;
} 

#contactoForm textarea {
    width: 50%;
    font-size: 18px;
    margin: 5px 25%;
}

#contactoForm #botonEnviar{
    background-color: var(--main-color);
    font-size: 18px;
    padding: 10px;
}   


#contactoForm #botonEnviar:hover{
    transform: scale(1.005);
    color: #fff;
}

    /********FORMULARIO DE CONTACTO ----> FIN********/

    /********DATOS DE CONTACTO  ----> INICIO********/
.gridContacto{
    width: 100%;
    height: 100vh;
}
.grid-container-contacto{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 20%;
    grid-template-areas: 
        "form form"
        "datos logo";
    height: 100%;
    width: 95%;
}

.grid-uno{
    grid-area: form;
    background-color: red;
}

.grid-dos{
    grid-area: datos;
    background-color: blue;
}

.grid-tres{
    grid-area: logo;
    background-color: green;
}

/*************************************************/

#contactoDatos{
    background-color: #0c0909;
    margin: 0;
    display: flex;
    justify-content: space-around;
    border-top: 0.3px solid #fff;
    padding: 40px 0px;  
}

.logocat img{
    width: auto;
    height: 250px;
}

.contacto{
    color: #fff;
    text-align: center;
    font-size: 22px;
    padding: 40px;
}

.contacto h3{
    padding-bottom: 20px;
    font-size: 30px;
}


.contacto ul li{
    padding: 4px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.fa-regular, .fa-solid{
    margin-right: 20px;
}

.contacto ul li a{
        text-decoration: none;
        color: #fff;
    }

.contacto ul li a:hover{
        font-weight: bold;
        color: var(--color-resaltado);   
    }

.web{
       padding-left: 10px;
    }
/*************************************************/

    /********DATOS DE CONTACTO ----> FIN********/

    /********FOOTER ----> INICIO********/

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 0.3px solid #fff;
    background-color: var(--main-color);
}

.fa-brands, footer a .fa-laptop-code{
    color:#000;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding: 30px 50px;
}
    
.fa-brands:hover, footer a .fa-laptop-code:hover{
    color: var(--color-resaltado);
    transform: scale(1.4);
}

    /********FOOTER ----> FIN********/


 /**   
@media screen and (max-width: 1199px) {

    #contactoForm{
        width: 100%;
        padding: 10px;
    }

    #contactoForm input{
        width: 100%;
        font-size: 18px;
        margin: 0 auto;
    }  
    #contactoForm textarea {
        width: 100%;
        font-size: 18px;
        margin: 25px auto;
    }

    .contactoDatos{
        display: grid;
    }

    .logocat{
        width: 100%;
    }
}*/